*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  a:hover {
    color: #F28123;
    text-decoration: none;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1px;
    line-height: 1.8;
    color: #051922;
    margin: 0 0 1.25rem 0;
  }
  
  p:last-child {
    margin: 0;
  }
  .info-bg{
    background: #82ae46 !important
  }

.header-area{
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
  transition: 0.3s;
}


.hero-bg {
  background-image: url(img/main-1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-text {
  display: table;
  height: 100%;
}

.hero-text-tablecell {
  display: table-cell;
}

.hero-area {
  height: 100%;
  position: relative;
  z-index: 1;
}

.hero-area:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #07212e;
    z-index: -1;
    opacity: 0.4;
}
.hero-text p.subtitle {
  color: #F28123;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 15px;
}

.hero-text h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;
  color: #000000;
}

.hero-area div {
  height: 100%;
}

.hero-area div.hero-text {
  height: 100%;
  width: 100%;
}

.hero-area div.hero-text-tablecell {
  height: auto;
  vertical-align: middle;
}

.hero-area div.hero-text-tablecell div {
  height: auto;
  vertical-align: middle;
}
.hero-btns {
  margin-top: 35px;
}

.hero-btns a {
  text-decoration: none;
}


.hero-btns a.bordered-btn {
  margin-left: 15px;
}

.hero-btns a.bordered-btn {
  margin-left: 15px;
}

.hero-area div.hero-form {
  background-color: #fff;
  text-align: center;
  width: 380px;
  margin: 0 auto;
  margin-right: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px #2d2d2d;
  box-shadow: 0 0 15px #2d2d2d;
  position: absolute;
  right: 30px;
  bottom: -15%;
  height: 600px;
}

.navbar-brand{
    font-size: 2rem;
    color:#82ae46 !important;
}
.navbar-brand:hover{
    color:black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
}
.nav-link:hover{
    color:red;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(48, 47, 47);
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #82ae46;
}
.navbar-dark .navbar-toggler {
  color: rgb(48, 47, 47);
  border-color: rgb(48, 47, 47);
}





.search{
    height: 30px;
    width: 90%;
    border-radius: 60px;
    outline: none;
    border: 1px solid indianred;
    margin-right: -35px;
    font-size: small;
}
.btn-search{
    height: 30px;
    width: 30%;
    outline: none;
    border: none;
    background-color: indianred;
    color: white;
    border-radius: 50px;
    font-weight: 400;
    font-size: small;

}
.main{
 
    background-size: cover;
    background-image: url(/img/bg_3.jpg);
    height: 100vh;
    background-position: 5% 30%;
    width: 100%;
    opacity: 0.7;
   
  
}

.main h1{
    font-size: 4rem;
    font-weight: 700;
}
.btn-main{
    height: 45px;
    width: 30%;
    border: none;
    outline: none;
    background-color: indianred;
    color: white;
    border-radius: 50px 10px;;
 
}
h1{
    font-weight: 700;
}

.btn1{
    height: 30px;
    width: 30%;
    border: none;
    outline: none; 
    background-color: indianred;
    color: white;
    border-radius: 20px;
    
}
.btn1:hover{
    background-color: rgb(236, 145, 145);
    transition: 0.5s;
}
.card:hover{
    box-shadow: 3px 0px 27px -3px rgba(0,0,0,0.63);
-webkit-box-shadow: 3px 0px 27px -3px rgba(0,0,0,0.63);
-moz-box-shadow: 3px 0px 27px -3px rgba(0,0,0,0.63);

}
.icons{
    max-width: 20% !important; 
}
.section{
    padding: 3em 0;
    position: relative;
}
.category-wrap .category-section {
    display: block;
    width: 100%;
    height: 250px;
 }
 .img-category{
     max-width: 100%;
 }

 /****** ICONS SECTION *******/
 
 .media-body h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Poppins", Arial, sans-serif;
    color: #000000;
    padding-top: 10px; 

}
    
.info{
    color: grey;
    font-size: small;
    }


 /****** Products *****/

  
  .single-product-item:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .single-product-item {
    margin-bottom: 30px;
  }

  .single-product-item h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .single-product-img img {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px #ddd;
    box-shadow: 0 0 20px #ddd;
  }

  .single-product-content h3 {
    font-size: 22px;
    font-weight: 600;
  }
  
  p.single-product-pricing span {
    font-size: 18px;
    display: block;
    opacity: 0.8;
    margin-bottom: 10px;
    font-weight: 400;
  }
  
  .single-product-content p {
    font-size: 15px;
    color: #555;
    line-height: 1.8;
  }
  
  .single-product-content p.single-product-pricing {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #051922;
    line-height: inherit;
  }

  .single-product-form a.cart-btn {
    margin-bottom: 15px;
  }
  
  .single-product-content h4 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 35px;
  }

  .single-product-content {
    margin-left: 30px;
  }
  
  .single-product-item {
    -webkit-box-shadow: 0 0 20px #e4e4e4;
    box-shadow: 0 0 20px #e4e4e4;
    padding-bottom: 50px;
    border-radius: 5px;
  }

  .section-title h3 {
    font-size: 40px;
    position: relative;
  }
  
  .section-title p {
    font-size: 15px;
    width: 530px;
    margin: 0 auto;
    color: #555;
    margin-top: 10px;
    line-height: 1.8;
  }
  
  .section-title {
    margin-bottom: 40px;
    margin-top: 40px;
  }
  
  
  .product-image img:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .product-image {
    padding: 30px;
    padding-bottom: 0;
  }
  
  .product-image img {
    width: 90%;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  p.product-price {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  p.product-price span {
    display: block;
    opacity: 0.8;
    font-size: 15px;
    font-weight: 400;
  }

  a.cart-btn {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  a.cart-btn:hover {
    background-color: #b1b3b4;
    color: black;
  }

  a.cart-btn {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: #468d25;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
  }
  
  a.cart-btn i {
    margin-right: 5px;
  }

  .orange-text {
    color: #F28123;
  }

  .discount-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }

  .subheading{
    color: #aa2020;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: inline-block; 
}
  
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

  #timer {
    width: 80%; }
    @media (max-width: 991.98px) {
      #timer {
        width: 90%; } }
    #timer .time {
      width: 25%;
      font-size: 40px;
      font-weight: 500;
      border-left: 1px solid rgba(0, 0, 0, 0.05);
      color: #82ae46; }
      @media (max-width: 991.98px) {
        #timer .time {
          font-size: 30px; } }
      #timer .time:first-child {
        border-left: transparent; }
      #timer .time span {
        font-size: 12px;
        display: block;
        color: #000000;
        text-transform: uppercase; }

/* ABOUT SECTION */

  .abt-section .abt-text {
    padding-left: 30px;
  }
  
  .abt-text p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .abt-text p.top-sub {
    opacity: 0.8;
    margin-bottom: 10px;
  }
  
  .abt-text p:last-child {
    margin-bottom: 0;
  }
  .abt-section img{
    border-radius: 30px;
    
  }
/********** Subscribe Section *************/

  .subscribe-form .form-group .submit {
    border-left: 1px solid #82ae46;
    color: #fff !important;
    border-radius: 6px;
    font-size: 12px;
    background: #82ae46 !important; }
    .subscribe-form .form-group .submit:hover {
      cursor: pointer; }

  .subscribe-text{
    color: rgb(145, 145, 145);
  }

  /*********** Footer Section **************/

  .single-logo-item img {
    max-width: 180px;
    margin: 0 auto;
  }
  
  .logo-carousel-section {
    background-color: #f5f5f5;
    padding: 50px 0;
  }
  
  .footer-area {
    background-color:#82ae46;
    color: #fff;
    padding: 50px 20px;
  }
  
  h2.widget-title {
    font-size: 24px;
    font-weight: 500;
    position: relative;
    padding-bottom: 20px;
    color: #fff;
  }
  
  .footer-box p {
    color: #fff;
    opacity: 0.7;
    line-height: 1.8;
  }
  
  .footer-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer-box ul li {
    opacity: 0.7;
    margin-bottom: 10px;
    line-height: 1.8;
  }
  
  .footer-box ul li:last-child {
    margin-bottom: 0;
  }
  
  .footer-box.subscribe form input[type=email] {
    border: none;
    background-color: #012738;
    width: 78%;
    padding: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
  }
  
  .footer-box.subscribe form button {
    width: 20%;
    border: none;
    background-color: #012738;
    color: #F28123;
    padding: 14px 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
  }
  
  .footer-box.subscribe form button:focus {
    outline: none;
  }
  
  .copyright {
    background-color: #051922;
    border-top: 1px solid #232a35;
  }
  
  .copyright p {
    margin: 0;
    color: #fff;
    opacity: 0.7;
    padding: 16px 0;
    font-size: 15px;
  }
  
  .copyright a {
    color: #F28123;
    font-weight: 700;
  }
  
  .copyright a:hover {
    color: #f59d53;
  }
  
  .social-icons ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .social-icons ul li {
    display: inline-block;
  }
  
  .social-icons ul li a {
    font-size: 16px;
    color: #fff;
    opacity: 0.7;
    padding: 16px 10px;
    display: block;
  }
  
  .footer-box ul li a {
    color: #fff;
  }
  
  .footer-box.pages ul li {
    position: relative;
    
  }
  .map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:30px;

    top:0;

    height:100%;

    width:90%;

    position:absolute;

}

.tarif-bg-1 {
  background-image: url(img/kategori/category-3.jpg);
}

.tarif-bg-2 {
  background-image: url(img/kategori/category-2.jpg);
}

.tarif-bg-3 {
  background-image: url(img/avakado.png);
}

.tarifler-bg {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  background-color: #ddd;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.tarifler-news h3 {
  font-size: 20px;
  line-height: 1.25em;
  font-weight: 600;
}
.tarifler a{
  color: #F28123;
}

  